<h1>Rutas</h1>
<hr>
<div class="col animated fadeIn fast" *ngFor="let ruta of rutas">


    <div class="card mb-3 " style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ruta.ciudadorigen}}</h5>
                    <h5 class="card-title">{{ruta.ciudaddestino}}</h5>
                    <p class="card-text">{{ruta.precioruta}}</p>
                    <p class="card-text"><small class="text-body-secondary">{{ruta.descripcion}}</small></p>
                    <p class="card-text"><small class="text-body-secondary">{{ruta.tipo}}</small></p>
                    <button type="button" class="text-body-secondary">Ver Mas</button>
                </div>
            </div>
        </div>
    </div>
</div>
